
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	@await Html.PartialAsync("MetaTagsPartial")
	<!-- Template CSS -->
	@await Html.PartialAsync("CssPartial")
	<!-- Template CSS -->
</head>

<body>

	<!-- header -->
	@await Html.PartialAsync("HeaderPartial")

	<!-- //header -->
	@RenderBody()
	@*@await Html.PartialAsync("BodyPartial")*@
	<!-- footer-66 -->
	@await Html.PartialAsync("FooterPartial")
	<!--//footer-66 -->
</body>

</html>
	@await Html.PartialAsync("ScriptsPartial")