
<section class="w3l-contact-1">
    <div class="contacts-9 py-5">
        <div class="container py-lg-4">
            <div class="headerhny-title text-center">
                <h1 class="bg-info text-white">Login</h1>
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="contact-view mt-lg-5 mt-4">
                    <div class="conhny-form-section">
                        <form method="post" class="formhny-sec">
                            <div class="form-grids">
                                <div class="form-input">
                                    <label>Email</label>
                                    <input name="email" class="form-control" id="w3lName" placeholder="Enter your email *" />
                                </div>
                                <div class="form-input">
                                    <label>Password</label>
                                    <input name="password" class="form-control" type="text" placeholder="Enter your name *" />
                                </div>
                            </div>
                            <div class="submithny text-right mt-4">
                                <button class="btn read-button" type="submit">Log In</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


