@model string
<section class="w3l-contact-1">
    <div class="contacts-9 py-5">
        <div class="container py-lg-4">
            <div class="headerhny-title text-center">
                <h4 class="sub-title text-center">Create a Role</h4>
                @if (ViewBag.Message != null)
                {
                    <h3 class="hny-title mb-0">@ViewBag.Message</h3>
                }
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="contact-view mt-lg-5 mt-4">
                    <div class="conhny-form-section">
                        <form class="formhny-sec" asp-action="CreateRole" method="post">
                            <div class="form-input">
                                <label for="name"></label>
                                <input name="name" class="form-control" type="text" placeholder="Enter your name *" />
                            </div>
                            <div class="submithny text-right mt-4">
                                <button class="btn read-button" type="submit">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>